<!--Table-->
<div class="row">
  <table id="tablePreview" class="table">
  <!--Table head-->
    <thead>
    <tr>
      <th class="col-md-2">#</th>
      <th class="col-md-2">First Name</th>
      <th class="col-md-2">Last Name</th>
      <th class="col-md-2">Age</th>
      <th class="col-md-2">Country</th>
      <th class="col-md-2">Delete/Modify</th>
    </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Zhuger</td>
      <td>20</td>
      <td>India</td>
      <td><a href="/edit">Edit</a> | <a href="/delete">Delete</a></td>
    </tr>
    </tbody>
    <!--Table body-->
  </table>
  </div>
  <!--Table-->