<!--Table-->
<div class="row">
  <table id="tablePreview" class="table">
  <!--Table head-->
    <thead>
    <tr>
      <th class="col-md-2">#</th>
      <th class="col-md-2">First Name</th>
      <th class="col-md-2">Last Name</th>
      <th class="col-md-2">Age</th>
      <th class="col-md-2">Country</th>
      <th class="col-md-2">Delete/Modify</th>
    </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
    <tr *ngFor="let item of employeeList.contact_list">
      <th scope="row">{{item.contactID}}</th>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.age}}</td>
      <td>{{item.country}}</td>
      <td><a href="/edit">Edit</a> | <a (click) = "deleteContact(item.contactID)">Delete</a></td>
    </tr>
    </tbody>
    <!--Table body-->
  </table>
  </div>
  <!--Table-->