<!--Table-->
<div class="row">
  <table id="tablePreview" class="table">
  <!--Table head-->
    <thead>
    <tr>
      <th class="col-md-2">#</th>
      <th class="col-md-2">First Name</th>
      <th class="col-md-2">Last Name</th>
      <th class="col-md-2">Age</th>
      <th class="col-md-2">Country</th>
      <th class="col-md-2">Delete/Modify</th>
    </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
    <tr *ngFor="let index of employeeList; let in = index">
      <th scope="row">{{index.id}}</th>
      <td>{{index.first_name}}</td>
      <td>{{index.last_name}}</td>
      <td>{{index.age}}</td>
      <td>{{index.country}}</td>
      <td><a href="/edit">Edit</a> | <a (click) = "deleteEmployee(index.id)">Delete</a></td>
    </tr>
    </tbody>
    <!--Table body-->
  </table>
  </div>
  <!--Table-->